
*{
    margin: 0px;
    padding:0px ;
  }
  :root{
    --color-primary:#28283D;
    --color-secondary:#fff;
    --deep-cove: #04053e;
    --black: #000;
    --white: #fff;
    --bright-turquoise: #00ffc3;
    --dull-turquoise:#04E3AE;
    --royal-blue: #5a33e9;
    --athens-gray: #f7f8fa;
  }
  


/* Map styles */
.mapContainer {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color: var(--color-primary);
    padding: 50px 20px;
  }
  
  .mapContainer path {
    stroke:gray;
    fill:var(--color-primary);  
    transition: fill 500ms ease;
    cursor: pointer;
  }
  
  .mapContainer path:hover {
    fill:var(--bright-turquoise) ;
  }

  /* Section 2 card container wrapper */
  .card-conatiner-warpper{
      width: 100%;
      height: 100%;
  }

  /* donate Card styles */
.card-container{
    background-color: var(--athens-gray);
    /*margin: 2vh;*/
}

/* Map Filler */
.filler_map{
    background-color: var(--color-primary);
    width: 100%;
    height: 100px;
}


/* SVG background 2 */
.svg_background_2{
    position: relative;
}
.tilt_svg_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt_svg_2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.tilt_svg_2 .shape-fill {
    fill: #F7F8FA;
}