@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.cf-container{
    margin-top: 58px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-image: linear-gradient(-44deg, var(--bright-turquoise) 0%, var(--royal-blue) 100%);
}

@media only screen and (min-width: 411px) and (max-width: 414px) {
    .cf-container{
        margin-top: 70px;
    }
}

@media only screen and (width: 375px) and (height: 812px) {
    .cf-container{
        margin-top: 80px;
    }
}

@media only screen and (width: 768px) {
    .cf-container{
        margin-top: 100px;
    }
}

.cf-container_det {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,0.15);*/
}

.cf-container_det  .cf-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.cf-container_det  .cf-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-image: linear-gradient(-44deg, var(--bright-turquoise) 0%, var(--royal-blue) 100%);
}

.cf-content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 15px);
}

form .input-box span.details_reg{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.user-details .input-box textarea{
    height: 80px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.user-details .input-box input::placeholder{
    font-size: 0.8rem;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: black;
}

.user-details .input-box textarea:focus{
     border-color: black;
}

form .gender-details_reg .gender-cf-title{
    font-size: 20px;
    font-weight: 500;
}
 
form .category_reg{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
 
form .category_reg label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category_reg label .dot{
    height: 18px;
    width: 18px;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category_reg label .one_reg,
#dot-2:checked ~ .category_reg label .two_reg,
#dot-3:checked ~ .category_reg label .three_reg{
    background: #5a33e9;
    border-color: #d9d9d9;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 20px 0px 30px 0px
}
 
form .button input{
    height: 100%;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(-44deg, var(--bright-turquoise) 0%, var(--royal-blue) 100%);
}
 
@media(max-width: 500px){
  .cf-container_det {
    max-width: 100%;
  }

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category_reg{
    width: 100%;
  }
  .cf-content form .user-details{
    /* max-height: 300px; */
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .cf-container_det  content .category_reg{
    flex-direction: column;
  }
}

.select-box{
    padding: 0.64em;
    border-radius: 0%;
    border-color: #ccc;
}

.select-box:focus{
    outline: none;
    box-shadow: none;
    border-color: black;
}

.select-container{
    max-height: 40px;
}

.select-wrapper{
    overflow-y: scroll;
    overflow-x: auto;
}

.verified-checkbox-container{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.verified-box-label {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #969697;
    font-size: 0.9rem;
}

.verified-box-box {
    width: 1.5em !important;
}

@media only screen and (max-width: 500px){
    .verified-checkbox-container{
        width: 85%;
    }
    .verified-box-box{
        width: 1.2em !important;
    }
}

@media only screen and (width: 540px){
    .verified-checkbox-container{
        width: 55%;
    }
    .verified-box-box{
        width: 1.2em !important;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 90%;
    }
}

.loading-modal{
    display: block;
}

.loading-blur{
    filter: brightness(0.7);
    opacity: 0.8;
    width: 100%;
    height: 100%;
}