@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding:0px ;
}
:root {
    --color-primary:#28283D;
    --color-secondary:#fff;
    --deep-cove: #04053e;
    --black: #000;
    --white: #fff;
    --bright-turquoise: #00ffc3;
    --dull-turquoise:#04E3AE;
    --royal-blue: #5a33e9;
    --athens-gray: #f7f8fa;
}  


/* Map styles */
.mapContainer {
    display: flex;
    justify-content: space-between;
    /*margin-left: 50px;*/
    height: fit-content;
    width: 100%;
    background-color: var(--color-primary);
    padding: 90px 50px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
  
.mapContainer path {
    stroke:gray;
    fill:var(--color-primary);  
    transition: fill 500ms ease;
    cursor: pointer;
}
  
.mapContainer path:hover {
    fill:var(--dull-turquoise) ;
}
.mapState{
    margin: auto;
    margin-top: 5rem;
    color: white;
}
.mapStateContainer {
    /*margin-left: 20vw;*/
    transform: translateX(100px);
    overflow: hidden;
    /*align-items: center;*/
}


/* filter charity  */
#filterCharityWrapper{
    color: white;
}
  
/* Map Filler */
.filler_map{
    background-color: var(--color-primary);
    width: 100%;
    height: 100px;
}


/* SVG background 2 */
.svg_background_2{
    position: relative;
}
.tilt_svg_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt_svg_2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.tilt_svg_2 .shape-fill {
    fill: #F7F8FA;
}

#testmarker{
    fill: var(--royal-blue);
}


/*  CARDS */
/* card container title */
.cards-container-title{
    position: absolute;
    margin: 4rem 2rem;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cards-container-title::before{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -0.8rem;
    display: block;
    background-color:var(--bright-turquoise);
    width:100%;
    height: 0.125rem;
}

.add-new-btn{
    margin-left: 20em;
    text-decoration: none;
    color:#04053e;
}

.clear-btn{
    position: absolute;
    margin: 4rem 2rem;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background-color: var(--athens-gray);
}


/* Section 2 card container wrapper */
.card-conatiner-warpper{
    position: relative;
    padding: 11em 2em 4em 2em;
    width: 100%;
    height: 100%;
    background-color: var(--athens-gray);
}

/* donate Card styles */
.card-container{
  font-family: 'Poppins', sans-serif;
}
.card-content{
    max-width: 30em;
}
.card-body{
    color: white;
    background-color: var(--royal-blue);
    font-size: 0.8rem;
}
.card-body p:first-child{
    font-size: 1rem;
}
.card-footer{
    background-color: var(--athens-gray);
    padding: 1rem;
}

.card-img-top{
    background-size: contain;
    height: 35vh;
    max-height: 40vh;
    /*filter: blur(10px);*/
}
/* Progress bar */
.progress-bar{
    background-color: var(--royal-blue);
}


/* Status card */
.status-card{
    margin-top: 1rem;
    min-height:fit-content;
    max-height: 20vh;
    overflow: hidden;
}
.status-card p{
    margin: 0px;
    padding: 0px;
}
.status-card-body{
    background-color: var(--royal-blue);
    padding: 10px;
}

.status-card  .card-body  p {
    margin-left: 20px;
}
.status-card-status{

    color: gainsboro;
    font-size: 0.8rem;
}
.current-status{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

 .donate-btn{
    display: flex;
    justify-content: flex-end;
}
.dnt{
    color: white;
    background-color: var(--royal-blue);
    padding: 8px 30px;
    /*height: 2rem;*/
}
.dnt:hover{
    background-color: var(--royal-blue);
    color: white;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.charity-edit-container{
    width: 50rem;
    border: 1px solid black;
    margin-left: 17rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

.cont{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    background-image: linear-gradient(-44deg, var(--bright-turquoise) 0%, var(--royal-blue) 100%);
}


.container-text{
    display: block;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    /* margin-bottom: 5px; */
}

.button{
    background-image: linear-gradient(-44deg, var(--bright-turquoise) 0%, var(--royal-blue) 100%);
}

a {
    text-decoration: none;
}

.charity-carousel-image {
    max-height: 85vh;
    min-height: 45vh;
    aspect-ratio: 1.5;
}

.map{
    padding: 0em;
}

.dropdown-container{
    padding: 0em;
    visibility: hidden;
}

@media only screen and (max-width:661px){
    #map-1{
        display: none;
    }
    .mapStateContainer{
        display:block !important;
        margin: auto;
        margin-top: 2rem;
    }
    .mapState{
        margin-top: 2rem;
    }
}

@media only screen and (max-width:661px){
    #dd-1{
        visibility: inherit;
        /*transform: translateX(200px);*/
    }
}
/*
@media only screen and (max-width:576px){
    #map-2,#filterCharityWrapper{
        transform: translateX(200px);
        text-align: center;
        width: 100%;
    }
}*/

@media only screen and (max-width:1170px){
    .mapStateContainer{
        /*transform: translateX(200px);*/
    }
}

@media only screen and (max-width:1050px){
    .mapStateContainer{
        transform: translateX(2vw);
    }
}
@media only screen and (max-width:890px){
    .mapStateContainer{
        display: none;
    }
}
@media only screen and (max-width:400px){
    .card-conatiner-warpper{
        padding: 11em 0em 4em 0em;
        
    }
}

#dropDownStateList{
    border-radius: 0%;
    width: 40vw;
    font-size: 0.8rem;
}
#dropDownStateList::-webkit-scrollbar {
    width: 2px;
}
#dropDownStateList li{
    padding: 8px;
}



#dropdownMenuButton2{
    border-radius: 0%;
    width: 40vw;
}

.dropdown-menu-dark{
    height: 30vh;
    overflow-y: scroll;
}
