.carousel-container{
    /* width: 100%; */
    text-align: center;
    margin-top: 3.96rem;
}

.hero-container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.hero-ele-charity-description {
    margin-top: 1em;
}

.hero-img{
    width: 100%;
}

.hero-text{
    text-align: center;
    text-align: justify;
}

.details-container{
    width: 100%;
    /* margin: 0.2rem; */
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.details-title{
    text-align: center;
}

.details-text{
    display: block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: justify;
}

@media only screen and (min-width: 576px){
    .charity-details-admin-buttons {
        justify-content: flex-end!important;
    }
  }


  /* donations modal */
#staticBackdrop{
    background-color: rgba(0, 0, 0, 0);
}
.hero-container .paymentModalHeader{
    border-radius: 0px;
    background-color: var(--royal-blue);
    color: white;
}


 .hero-container button{
     border-radius: 0%;
 }
 .hero-container .btn:focus,.hero-container .btn:active{
   outline: none !important;
   box-shadow: none !important;
}
.hero-container .modal-body div{
    margin: 5px;
}

.hero-container .donateBtn, .hero-container .donateBtn:hover, .hero-container .donateBtn:focus,.hero-container .donateBtn:active{
    text-decoration: none;
    padding: 0.5em;
    background-color: #5a33e9;
    color:#f7f8fa
 }

.donate-btns {
    margin-top: 3em;
}

/* range slider */
#customRange1::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    background:  #f0932b;
  }
  
  #customRange1::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background:  #f0932b;
  }
  
  #customRange1::-ms-thumb {
    height: 20px;
    width: 20px;
    background:  #f0932b;
  }
  #customRange1:focus::-webkit-slider-thumb,#customRange1:active::-webkit-slider-thumb{
      outline: none !important;
      box-shadow: none !important;
      border: #f9ca24 solid 4px;
  }

  /* receipt modal */
  .receiptModal .modal-header{
      background-color: var(--royal-blue);
  }
  .receiptModalTickContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
 }
 .receiptModalTick{
    color: white;
    font-size: 4rem;
 }

 .generateReceipt, .generateReceipt:hover, .generateReceipt:focus,.generateReceipt:active{
    text-decoration: none;
    padding: 0.5em;
    background-color: #5a33e9;
    color:#f7f8fa
 }