@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0px;
  padding:0px ;
}
:root{
  --color-primary:#28283D;
  --color-secondary:#fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --dull-turquoise:#04E3AE;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* SVG background */

.svg-tilt{
    position: relative;
}

.tilt {
  margin: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(350% + 1.3px);
  height: 650px;
  transform: rotateY(180deg);
}

.tilt .shape-fill {
  fill: #28283D;
}

.attachment-full{
  position: absolute;
  z-index: 100; 
  right: 0;
  transform:translateX(5em) ;
  transform:translateY(-5em) ;
}

@media only screen and (max-width: 992px){
  .attachment-full{
    display: none;
  }
}

/* InfoWidget */

.infowidget{
  margin-bottom: 2.5em;
}

.infowidget-card{
  display: inline-block;
  margin: 0.1em 0.2em;
}

.infowidget-title{
  font-weight: 600;
  font-size: 1.25rem;
  color: #28283d;
  text-decoration: none;
  padding-left: 0.4em;
  display: block;
  /* white-space: nowrap; */
}

.infowidget-content{
  font-weight: 400;
  font-size: 0.95rem;
  padding-left: 0.6em;
  display: block;
  /* white-space: nowrap; */
}

.infowidget-row{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.infowidget-row-space{
  margin: 2em 0em;
}

@media only screen and (max-width: 576px){
  .infowidget-content{
    text-align: center;
  }

  .infowidget-title{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px){
  .infowidget-content{
    padding-left: 1.75em;
  }

  .infowidget-title{
    padding-left: 1.3em;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
  .infowidget-content{
    padding-left: 1.55em;
  }

  .infowidget-title{
    padding-left: 1.1em;
  }
}

/* Process steps*/

.process{
  margin-top: 5.5em;
  margin-bottom: 3.5em;
}

.step-number{
  font-size: 3rem;
  font-weight: 600;
  color: #00ffc3;
}

.step-element{
  display: inline-block;
  margin: 0.1em 0.2em;
}

.step-title{
  font-weight: 600;
  font-size: 1.25rem;
  color: #28283d;
  text-decoration: none;
  padding-left: 0.4em;
  display: block;
  /* white-space: nowrap; */
}

.step-subtitle{
  font-weight: 400;
  font-size: 0.95rem;
  padding-left: 0.7em;
  padding-top: 0.3em;
  padding-right: 1em;
  display: block;
  text-align: justify;
  /* white-space: nowrap; */
}

.steps-row-space{
  margin: 1.25em 0em;
}

.step-heading{
  width: fit-content;
}

@media only screen and (max-width: 576px){
  .step-subtitle{
    text-align: center;
  }

  .step-title{
    text-align: center;
  }

  .step-number{
    text-align: center;
  }

  .step-heading{
    margin-left: 0.8em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px){
  .step-number{
    text-align: center;
    display: inline;
    padding: 0em;
  }

  .step-title{
    padding: 0em;
  }

  .step-subtitle{
    padding: 0em;
  }

  .steps-row-space{
    margin: 0.5em 0em;
  }
}

@media only screen and (min-width: 1200px){
  .process-container{
    margin-left: 2em;
    margin-right: 2em;
  }
}

/* Our Partners Section*/

.partners{
  margin: 5.5em 0em 6.5em;
}

.partners-content{
  margin: 1em 4em 2em;
}

.partners-heading{
  width: fit-content;
  /* margin: 1em 0em 0.5em; */
}

.logo-align{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo-IDRF {
  height: 150px;
}

@media only screen and (max-width: 768px){
  .partners-content{
    margin: 1em;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .logo-margin{
    margin: 0em 4em;
  }
}

@media only screen and (max-width: 576px){
  .partners-heading{
    margin-left: 0.8em;
  }
}

@media only screen and (max-width: 576px){
  .logo-MHDRF {
    width: 230px;
  }
  .logo-Helpers {
    width: 250px;
  }
  .logo-IDRF {
    height: 165px;
    padding-bottom: 20px;
  }
}

/* Title Element */

#title_container{
  height: 100vh;
}

.title-ele{
  margin-top: 10vh;
}

.title-button{
  background-color: #04E3AE;
}

@media only screen and (width: 768px) and (height: 1024px) {
  .title-ele{
    margin-bottom: -500px;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .title-ele{
    margin-bottom: -780px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 360px){
  .title-ele{
    margin-bottom: -120px;
  }
}

@media only screen and (width: 375px){
  .title-ele{
    margin-bottom: -200px;
  }
}

@media only screen and (min-width: 411px)and (max-width: 414px) {
  .title-ele{
    margin-bottom: -220px;
  }
}


@media only screen and (width: 540px)and (height: 720px) {
  .title-ele{
    margin-bottom: -200px;
  }
}

/* security and control section */

.sec-header{
  width: fit-content;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.sec-subtitle{
  color: #28283d;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  .sec-subtitle{
    text-align: center;
  }

  .sec-header, .step-heading, .partners-heading{
    margin: 0px auto 20px auto;
    font-size: xx-large;
  }
}

.sec-text{
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.3em;
  display: block;
  text-align: justify;
}

/* Supported Cryptocurrencies */

.Crypto-header{
  width: fit-content;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 3rem;
}
.all{
  margin-top : 30px;
}
.Crypto-subtitle{
  color: #28283d;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
}
.Crypto-text{
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.3em;
  display: block;
  text-align: justify;
}

.ethereumlogo
{
  position: relative;
  height: 150px;
  margin-left: -40px;
}
@media only screen and (min-width: 300px) and (max-width: 750px) {
  .Crypto-subtitle{
    text-align: center;
  }

  .Crypto-header, .step-heading, .partners-heading{
    margin: 0px auto 20px auto;
    font-size: xx-large;
  }
}

/* team info section */

.team-container{
  background-color: #f3f3e5;
  width: 16rem;
  margin: 0.2rem;
  padding-left: 1rem;
  padding-top: 1.2rem;
}

.team-name{
  text-align: center;
}

.team-text{
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.3em;
  display: block;
  text-align: justify;
}


/* Testimonial css */

.test-card {
  width: 15rem;
  min-height: 16rem;
  margin: auto;
  box-shadow: 0.2px 0.6px 1px #00ffc3
}

.testimonial {
  padding: auto;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 500
}

.active-star {
  color: #00ffa3;
  margin-bottom: 8px
}

.active-star:hover {
  color: #00ffff;
  cursor: pointer
}

.profile {
  padding-top: 10px
}

.name {
  font-weight: 700
}

.designation {
  font-size: 0.84rem;
  font-weight: 600
}

.owl-carousel .owl-item{
  margin-bottom: 40px;
  text-align: center;
}

.owl-carousel .owl-item img {
  width: 45px !important;
  height: 45px;
  border-radius: 50%;
  object-fit: cover
}

@media only screen and (width:1024px){
  .test-card{
    width: 13rem;
  }
}

@media only screen and (width:768px){
  .owl-carousel{
    display:grid;
    grid-template-columns: auto auto;
  }
}
