@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0px;
  padding:0px ;
}
:root{
  --color-primary:#28283D;
  --color-secondary:#fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --dull-turquoise:#04E3AE;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* SVG background */

.svg-tilt{
    position: relative;
}

.tilt {
  margin: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(350% + 1.3px);
  height: 650px;
  transform: rotateY(180deg);
}

.tilt .shape-fill {
  fill: #28283D;
}

.attachment-full{
  position: absolute;
  z-index: 100; 
  right: 0;
  transform:translateX(5em) ;
  transform:translateY(-5em) ;
}

@media only screen and (max-width: 992px){
  .attachment-full{
    display: none;
  }
}

/* InfoWidget */

.infowidget{
  margin-bottom: 2.5em;
}

.infowidget-card{
  display: inline-block;
  margin: 0.1em 0.2em;
}

.infowidget-title{
  font-weight: 600;
  font-size: 1.25rem;
  color: #28283d;
  text-decoration: none;
  padding-left: 0.4em;
  display: block;
  /* white-space: nowrap; */
}

.infowidget-content{
  font-weight: 400;
  font-size: 0.95rem;
  padding-left: 0.6em;
  display: block;
  /* white-space: nowrap; */
}

.infowidget-row{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.infowidget-row-space{
  margin: 2em 0em;
}

@media only screen and (max-width: 576px){
  .infowidget-content{
    text-align: center;
  }

  .infowidget-title{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px){
  .infowidget-content{
    padding-left: 1.75em;
  }

  .infowidget-title{
    padding-left: 1.3em;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
  .infowidget-content{
    padding-left: 1.55em;
  }

  .infowidget-title{
    padding-left: 1.1em;
  }
}

/* Process steps*/

.process{
  margin-top: 5.5em;
  margin-bottom: 3.5em;
}

.step-number{
  font-size: 3rem;
  font-weight: 600;
  color: #00ffc3;
}

.step-element{
  display: inline-block;
  margin: 0.1em 0.2em;
}

.step-title{
  font-weight: 600;
  font-size: 1.25rem;
  color: #28283d;
  text-decoration: none;
  padding-left: 0.4em;
  display: block;
  /* white-space: nowrap; */
}

.step-subtitle{
  font-weight: 400;
  font-size: 0.95rem;
  padding-left: 0.7em;
  padding-top: 0.3em;
  padding-right: 1em;
  display: block;
  text-align: justify;
  /* white-space: nowrap; */
}

.steps-row-space{
  margin: 1.25em 0em;
}

.step-heading{
  width: fit-content;
}

@media only screen and (max-width: 576px){
  .step-subtitle{
    text-align: center;
  }

  .step-title{
    text-align: center;
  }

  .step-number{
    text-align: center;
  }

  .step-heading{
    margin-left: 0.8em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px){
  .step-number{
    text-align: center;
    display: inline;
    padding: 0em;
  }

  .step-title{
    padding: 0em;
  }

  .step-subtitle{
    padding: 0em;
  }

  .steps-row-space{
    margin: 0.5em 0em;
  }
}

@media only screen and (min-width: 1200px){
  .process-container{
    margin-left: 2em;
    margin-right: 2em;
  }
}

/* Our Partners Section*/

.partners{
  margin: 5.5em 0em 6.5em;
}

.partners-content{
  margin: 1em 4em 2em;
}

.partners-heading{
  width: fit-content;
  /* margin: 1em 0em 0.5em; */
}

.logo-align{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo-IDRF {
  height: 150px;
}

@media only screen and (max-width: 768px){
  .partners-content{
    margin: 1em;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .logo-margin{
    margin: 0em 4em;
  }
}

@media only screen and (max-width: 576px){
  .partners-heading{
    margin-left: 0.8em;
  }
}

@media only screen and (max-width: 576px){
  .logo-MHDRF {
    width: 230px;
  }
  .logo-Helpers {
    width: 250px;
  }
  .logo-IDRF {
    height: 165px;
    padding-bottom: 20px;
  }
}

/* Title Element */

#title_container{
  height: 100vh;
}

.title-ele{
  margin-top: 10vh;
}

.title-button{
  background-color: #04E3AE;
}

/* security and control section */

.sec-header{
  width: fit-content;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.sec-subtitle{
  color: #28283d;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
}

.sec-text{
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.3em;
  display: block;
  text-align: justify;
}

/* team info section */

.team-container{
  background-color: #f3f3e5;
  width: 16rem;
  margin: 0.2rem;
  padding-left: 1rem;
  padding-top: 1.2rem;
}

.team-name{
  text-align: center;
}

.team-text{
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.3em;
  display: block;
  text-align: justify;
}


/* Testimonial css */

.testimonial-container{
  min-height: fit-content;
  max-height: max-content;
  padding-bottom: 60px;
}

.testimonial-wrapper {
  margin-top: 100px
}

.testimonial-wrapper .col-lg-4 {
  display: flex;
  justify-content: center
}

.test-card {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: none;
  background-color: inherit
}

.test-card .face {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.06);
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd
}

.test-card .face.front-face,
.test-card .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.test-card .face.front-face .profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover
}

.test-card .face.front-face .name {
  letter-spacing: 2px
}

.test-card .face.front-face .designation {
  font-size: 0.8rem;
  color: black;
  letter-spacing: 0.8px
}

.test-card:hover .face.front-face {
  transform: rotateY(180deg)
}

.test-card .face.back-face {
  position: absolute;
  background: rgba(255, 255, 255, 0.06);
  transform: rotateY(180deg);
  padding: 20px 30px;
  text-align: center;
  user-select: none
}

.test-card .face.back-face .fa-quote-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2rem
}

.test-card .face.back-face .fa-quote-right {
  position: absolute;
  bottom: 35px;
  right: 25px;
  font-size: 1.2rem
}

.test-card:hover .face.back-face {
  transform: rotateY(360deg)
}

@media(max-width: 991.5px) {
  .col-lg-4 {
    margin-top: 40px;
    margin-bottom: 20px
  }
} 

.fa-star, .active-star{
  color: #FF9529;
}