  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  [tabindex='-1']:focus {
    outline: 0 !important;
  }
  
  .main-content hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
  }

  .main-content p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .main-content a {
    text-decoration: none;
    color: #5e72e4;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  .main-content a:hover {
    text-decoration: none;
    color: #233dd2;
  }
  
  .main-content a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: inherit;
  }
  
  .main-content a:not([href]):not([tabindex]):hover,
  .main-content a:not([href]):not([tabindex]):focus {
    text-decoration: none;
    color: inherit;
  }
  
  .main-content a:not([href]):not([tabindex]):focus {
    outline: 0;
  }
  
  .main-content img {
    vertical-align: middle;
    border-style: none;
  }
  
  .main-content label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  
  .main-content button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  .main-content button,
  .main-content input {
    overflow: visible;
  }
  
  .main-content button {
    text-transform: none;
  }
  
  .main-content button,
  .main-content html [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
  }
  
  .main-content button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
  
  .main-content .h1,
  .main-content .h3,
  .main-content .h4,
  .main-content .h5,
  .main-content .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
  }
  
  .main-content .display-2 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.5;
  }
  
  .main-content hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  .main-content .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 576px) {
    .main-content .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .main-content .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .main-content .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .main-content .container {
      max-width: 1140px;
    }
  }
  
  .main-content .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .main-content .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
  }
  
  .main-content .col-4,
  .main-content .col-8,
  .main-content .col,
  .main-content .col-md-10,
  .main-content .col-md-12,
  .main-content .col-lg-3,
  .main-content .col-lg-4,
  .main-content .col-lg-6,
  .main-content .col-lg-7,
  .main-content .col-xl-4,
  .main-content .col-xl-6,
  .main-content .col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .main-content .col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .main-content .col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
  
  .main-content .col-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }
  
  @media (min-width: 768px) {
  
    .main-content .col-md-10 {
      max-width: 83.33333%;
      flex: 0 0 83.33333%;
    }
  
    .main-content .col-md-12 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  
  @media (min-width: 992px) {
  
    .main-content .col-lg-3 {
      max-width: 25%;
      flex: 0 0 25%;
    }
  
    .main-content .col-lg-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%;
    }
  
    .main-content .col-lg-6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  
    .main-content .col-lg-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%;
    }
  
    .main-content .order-lg-2 {
      order: 2;
    }
  }
  
  @media (min-width: 1200px) {
  
    .main-content .col-xl-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%;
    }
  
    .main-content .col-xl-6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  
    .main-content .col-xl-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%;
    }
  
    .main-content .order-xl-1 {
      order: 1;
    }
  
    .main-content .order-xl-2 {
      order: 2;
    }
  }
  
  .main-content .form-group {
    margin-bottom: 1.5rem;
  }
  
  .main-content .btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: .625rem 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .375rem;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .main-content .btn {
      transition: none;
    }
  }
  
  .main-content .btn:hover,
  .main-content .btn:focus {
    text-decoration: none;
  }
  
  .main-content .btn:focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
  
  .main-content .btn:disabled {
    opacity: .65;
    box-shadow: none;
  }
  
  .main-content .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .main-content .btn:not(:disabled):not(.disabled):active {
    box-shadow: none;
  }
  
  .main-content .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08), none;
  }

  .main-content .btn-info {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  }
  
  .main-content .btn-info:hover {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
  }
  
  .main-content .btn-info:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(17, 205, 239, .5);
  }
  
  .main-content .btn-info:disabled {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
  }
  
  .main-content .btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    border-color: #11cdef;
    background-color: #0da5c0;
  }
  
  .main-content .btn-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: none, 0 0 0 0 rgba(17, 205, 239, .5);
  }
  
  .main-content .input-group {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .main-content .input-group-prepend {
    display: flex;
  }
  
  .main-content .input-group-prepend {
    margin-right: -1px;
  }
  
  .main-content .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
  }
  
  .main-content .card>hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .main-content .card-body-1 {
    padding: 1.5rem;
    flex: 1 1 auto;
  }
  
  .main-content .card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
  }
  
  .main-content .card-header:first-child {
    border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
  }
  
  .main-content .bg-secondary {
    background-color: #f7fafc !important;
  }
  
  .main-content a.bg-secondary:hover,
  .main-content a.bg-secondary:focus,
  .main-content button.bg-secondary:hover,
  .main-content button.bg-secondary:focus {
    background-color: #d2e3ee !important;
  }
  
  .main-content .bg-default {
    background-color: #172b4d !important;
  }
  
  .main-content a.bg-default:hover,
  .main-content a.bg-default:focus,
  .main-content button.bg-default:hover,
  .main-content button.bg-default:focus {
    background-color: #0b1526 !important;
  }
  
  .main-content .bg-white {
    background-color: #fff !important;
  }
  
  .main-content a.bg-white:hover,
  .main-content a.bg-white:focus,
  .main-content button.bg-white:hover,
  .main-content button.bg-white:focus {
    background-color: #e6e6e6 !important;
  }
  
  .main-content .bg-white {
    background-color: #fff !important;
  }
  
  .main-content .border-0 {
    border: 0 !important;
  }
  
  .main-content .rounded-circle {
    border-radius: 50% !important;
  }
  
  .main-content .d-none {
    display: none !important;
  }
  
  .main-content .d-flex {
    display: flex !important;
  }
  
  @media (min-width: 768px) {
  
    .main-content .d-md-flex {
      display: flex !important;
    }
  }
  
  @media (min-width: 992px) {
  
    .main-content .d-lg-inline-block {
      display: inline-block !important;
    }
  
    .main-content .d-lg-block {
      display: block !important;
    }
  }
  
  .main-content .justify-content-center {
    justify-content: center !important;
  }
  
  .main-content .align-items-center {
    align-items: center !important;
  }
  
  @media (min-width: 1200px) {
  
    .main-content .justify-content-xl-between {
      justify-content: space-between !important;
    }
  }
  
  .main-content .float-right {
    float: right !important;
  }
  
  .main-content .shadow,
  .main-content .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
  }
  
  .main-content .m-0 {
    margin: 0 !important;
  }
  
  .main-content .mt-0 {
    margin-top: 0 !important;
  }
  
  .main-content .mb-0 {
    margin-bottom: 0 !important;
  }
  
  .main-content .mr-2 {
    margin-right: .5rem !important;
  }
  
  .main-content .ml-2 {
    margin-left: .5rem !important;
  }
  
  .main-content .mr-3 {
    margin-right: 1rem !important;
  }
  
  .main-content .mt-4,
  .main-content .my-4 {
    margin-top: 1.5rem !important;
  }
  
  .main-content .mr-4 {
    margin-right: 1.5rem !important;
  }
  
  .main-content .mb-4,
  .main-content .my-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .main-content .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .main-content .mt--7 {
    margin-top: -6rem !important;
  }
  
  .main-content .pt-0 {
    padding-top: 0 !important;
  }
  
  .main-content .pr-0 {
    padding-right: 0 !important;
  }
  
  .main-content .pb-0 {
    padding-bottom: 0 !important;
  }
  
  .main-content .pt-5 {
    padding-top: 3rem !important;
  }
  
  .main-content .pt-8 {
    padding-top: 8rem !important;
  }
  
  .main-content .pb-8 {
    padding-bottom: 8rem !important;
  }
  
  .main-content .m-auto {
    margin: auto !important;
  }
  
  @media (min-width: 768px) {
  
    .main-content .mt-md-5 {
      margin-top: 3rem !important;
    }
  
    .main-content .pt-md-4 {
      padding-top: 1.5rem !important;
    }
  
    .main-content .pb-md-4 {
      padding-bottom: 1.5rem !important;
    }
  }
  
  @media (min-width: 992px) {
  
    .main-content .pl-lg-4 {
      padding-left: 1.5rem !important;
    }
  
    .main-content .pt-lg-8 {
      padding-top: 8rem !important;
    }
  
    .main-content .ml-lg-auto {
      margin-left: auto !important;
    }
  }
  
  @media (min-width: 1200px) {
  
    .main-content .mb-xl-0 {
      margin-bottom: 0 !important;
    }
  }
  
  .main-content .text-right {
    text-align: right !important;
  }
  
  .main-content .text-center {
    text-align: center !important;
  }
  
  .main-content .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .main-content .font-weight-light {
    font-weight: 300 !important;
  }
  
  .main-content .font-weight-bold {
    font-weight: 600 !important;
  }
  
  .main-content .text-white {
    color: #fff !important;
  }
  
  .main-content .text-white {
    color: #fff !important;
  }
  
  .main-content a.text-white:hover,
  .main-content a.text-white:focus {
    color: #e6e6e6 !important;
  }
  
  .main-content .text-muted {
    color: #8898aa !important;
  }
  
  .main-content main {
    overflow: hidden;
  }
  
  .main-content .bg-white {
    background-color: #fff !important;
  }
  
  .main-content a.bg-white:hover,
  .main-content a.bg-white:focus,
  .main-content button.bg-white:hover,
  .main-content button.bg-white:focus {
    background-color: #e6e6e6 !important;
  }
  
  .main-content .bg-gradient-default {
    background: linear-gradient(87deg, #28283d 0, #28283d 100%) !important;
  }
  
  @keyframes floating-lg {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(15px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes floating-sm {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(5px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  .main-content .opacity-8 {
    opacity: .8 !important;
  }
  
  .main-content .center {
    left: 50%;
    transform: translateX(-50%);
  }
  
  [class*='shadow'] {
    transition: all .15s ease;
  }
  
  .main-content .font-weight-300 {
    font-weight: 300 !important;
  }
  
  .main-content .text-sm {
    font-size: .875rem !important;
  }
  
  .main-content .text-white {
    color: #fff !important;
  }
  
  .main-content a.text-white:hover,
  .main-content a.text-white:focus {
    color: #e6e6e6 !important;
  }
  
  .main-content .btn {
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
  }
  
  .main-content .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
  
  .main-content .btn:not(:last-child) {
    margin-right: .5rem;
  }
  
  .main-content .btn i:not(:first-child) {
    margin-left: .5rem;
  }
  
  .main-content .btn i:not(:last-child) {
    margin-right: .5rem;
  }
  
  .main-content .input-group .btn {
    margin-right: 0;
    transform: translateY(0);
  }
  
  .main-content .card-profile-image {
    position: relative;
  }
  
  .main-content .card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: .375rem;
  }
  
  .main-content .card-profile-image img:hover {
    transform: translate(-50%, -33%);
  }
  
  .main-content .card-profile-stats {
    padding: 1rem 0;
  }
  
  .main-content .card-profile-stats>div {
    margin-right: 1rem;
    padding: .875rem;
    text-align: center;
  }
  
  .main-content .card-profile-stats>div:last-child {
    margin-right: 0;
  }
  
  .main-content .card-profile-stats>div .heading {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
  }
  
  .main-content .card-profile-stats>div .description {
    font-size: .875rem;
    color: #adb5bd;
  }
  
  .main-content .main-content {
    position: relative;
  }
  
  @media (min-width: 768px) {
    .main-content .container-fluid {
      padding-right: 39px !important;
      padding-left: 39px !important;
    }
  }
  
  .main-content .form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
  }
  
  .main-content .form-control {
    font-size: .875rem;
  }
  
  .main-content .form-control:focus:-ms-input-placeholder {
    color: #adb5bd;
  }
  
  .main-content .form-control:focus::-ms-input-placeholder {
    color: #adb5bd;
  }
  
  .main-content .form-control:focus::placeholder {
    color: #adb5bd;
  }
  
  .main-content .form-control-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
  }
  
  .main-content .form-control-alternative:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  }
  
  .main-content .input-group {
    transition: all .15s ease;
    border-radius: .375rem;
    box-shadow: none;
  }
  
  .main-content .input-group .form-control {
    box-shadow: none;
  }
  
  .main-content .input-group .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
  }
  
  .main-content .input-group .form-control:not(:last-child) {
    padding-right: 0;
    border-right: 0;
  }
  
  .main-content .input-group .form-control:focus {
    box-shadow: none;
  }
  
  .main-content .focused .input-group {
    box-shadow: none;
  }
  
  .main-content .focused .form-control {
    border-color: rgba(50, 151, 211, .25);
  }
  
  .main-content .header {
    position: relative;
  }
  
  .main-content .input-group {
    transition: all .15s ease;
    border-radius: .375rem;
    box-shadow: none;
  }
  
  .main-content .input-group .form-control {
    box-shadow: none;
  }
  
  .main-content .input-group .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
  }
  
  .main-content .input-group .form-control:not(:last-child) {
    padding-right: 0;
    border-right: 0;
  }
  
  .main-content .input-group .form-control:focus {
    box-shadow: none;
  }
  
  .main-content .focused .input-group {
    box-shadow: none;
  }
  
  .main-content .focused .form-control {
    border-color: rgba(50, 151, 211, .25);
  }
  
  .main-content .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .main-content .mask {
      transition: none;
    }
  }
  
  .main-content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
  }
  
  .main-content .description {
    font-size: .875rem;
  }
  
  .main-content .heading {
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
  }
  
  .main-content .heading-small {
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
  }
  
  .main-content .display-2 span {
    font-weight: 300;
    display: block;
  }
  
  @media (max-width: 768px) {
    .main-content .btn {
      margin-bottom: 10px;
    }
  }