

/* universal */
:root{
  --color-primary:#28283D;
  --color-secondary:#fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* custom */

.test{
  font-size:medium;
  color: var(--white);
  background-color: var(--color-primary);
  height:10vh;
  z-index: 101;
}

.navbar a{
  color: white;
  text-decoration: none;
}

#navlinkgrp a{
  color: white;
}

#auth-btn{
  border: none;
  background-color: var(--royal-blue);
  border-radius: 2px;
}

/* SVG background */
.svg-tilt{
  position: relative;
}
.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(350% + 1.3px);
  height: 650px;
  transform: rotateY(180deg);
}

.tilt .shape-fill {
  fill: #28283D;
}

.attachment-full{
  position: absolute;
  z-index: 100;
  right: 0;
  transform:translateX(5em) ;
  transform:translateY(-5em) ;
}