

/* universal */
:root{
  --color-primary:#28283D;
  --color-secondary:#fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* custom */

.test{
  font-size:medium;
  color: var(--white);
  background-color: var(--color-primary);
  height:10vh;
  z-index: 101;
}

.navbar a{
  color: white;
  text-decoration: none;
}

#navlinkgrp a{
  color: white;
}

#auth-btn{
  border: none;
  background-color: var(--royal-blue);
  border-radius: 2px;
}

/* SVG background */
