

/* universal */
:root{
  --color-primary:#28283D;
  --color-secondary:#fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* utility classes */

/* disable border and highlight */
.disable-highlight:focus,.disable-highlight:active{
  outline: none !important;
    box-shadow: none !important;
}

/* custom */

.navbar-custom{
  font-size: medium;
  color: var(--white);
  background-color: var(--color-primary);
  height:10vh;
}

.navbar-brand{
  margin-left: 0.8em;
}

.navbar-toggler{
  margin-right: 0.8em;
  padding: 0.30em 0.75em;
}

.navbar-collapse{
  background-color: var(--color-primary);
  margin-top: 1em;
}

.navbar a{
  color: white;
  text-decoration: none;
}

#auth-btn{
  border: none;
  background-color: var(--royal-blue);
  border-radius: 2px;
  margin: 0 0.5em;
}

.btn:hover, .nav-link:hover{
  color: #fff !important;
  text-decoration: none;
}

@media only screen and (max-width: 768px){
  .nav-link{
    text-align: center;
  }

  #auth-btn{
    margin-bottom: 1em;
  }
}

/*Footer*/
.footer-line{
  border-top: 2px solid #00ffc3;
  margin-left: 7.5em;
  margin-right: 7.5em;
}

.footer-list{
  margin-bottom: 0.8em;
}

.footer-link{
  text-decoration: none;
}

.footer-bg{
  background-color:#28283D;
}

.footer-ele{
  padding-top: 4em;
  padding-bottom: 3em;
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
  .footer-line{
    margin-left: 5.8em;
    margin-right: 5.8em;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .footer-line{
    margin-left: 3em;
    margin-right: 3em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px){
  .footer-line{
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 576px) and (min-width: 476px){
  .footer-line{
    margin-left: 12em;
    margin-right: 12em;
  }
}

@media only screen and (max-width: 476px) and (min-width: 324px){
  .footer-line{
    margin-left: 10em;
    margin-right: 10em;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
